* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fab22e;
}

.container {
  max-width: 600px;
  padding: 50px 40px;
  margin: 25% auto;
  background-color: black;
  border-radius: 10px;
  /*
    positon: absolute;
    transform: translate (-50%, 50%);
    top: 50%
    bottom: 50%
    above code as per tutorial centers the container
  */
  box-shadow: 20px 20px 40px rgba(0, 0n, 0, 0.4);
}

span {
  display: block;
  text-align: center;
  font-size: 100px;
}

p {
  font-size: 16px;
  color: #ffff;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 30px 0;
  opacity: 0; /*sets the opacity of an element. Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency so 0 is true or hidden*/
}

button {
  display: block;
  background-color: #fab32e87;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #171721;
  font-weight: 600;
  padding: 12px 25px;
  margin: 0px auto;
  border-radius: 5px;
  cursor: pointer;
}

.fade {
  opacity: 1; /*sets the opacity of an element. Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency so 1 is false or show*/
  transition: opacity 1.5s;
}

button:hover {
  background-color: #fab32efd;
}
